name: Windows build

on:
  push:
    branches: [ "master" ] # Cambiato da main a master

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        build_type: [ Release ]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: '${{ github.workspace }}/vcpkg'
          vcpkgGitCommitId: '2024.01.12'

      - name: Install LLVM and dependencies with vcpkg
        run: |
          vcpkg install llvm:x64-windows-static
          vcpkg install curl:x64-windows-static
          vcpkg install libarchive:x64-windows-static
          vcpkg install zstd:x64-windows-static

      - name: Configure CMake
        run: |
          cmake -B build -S . `
            -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}\vcpkg\scripts\buildsystems\vcpkg.cmake" `
            -DVCPKG_TARGET_TRIPLET=x64-windows-static `
            -DCMAKE_BUILD_TYPE=Release `
            -GNinja

      - name: Build
        run: cmake --build build --config Release

      - name: Test
        working-directory: ${{ steps.strings.outputs.build-output-dir }}
        run: ctest --build-config ${{ matrix.build_type }}

      - name: Package with CPack
        working-directory: build
        run: cpack

      - name: Get version from latest tag
        id: get_version
        shell: bash
        run: |
          git fetch --tags
          TAG=$(git describe --tags --abbrev=0 || echo "v0.0.0")
          echo "version=${TAG#v}" >> $GITHUB_OUTPUT

      - name: Upload Windows 7z artifact
        uses: actions/upload-artifact@v4
        with:
          name: tungsten-windows.7z
          path: build/*.7z

      - name: Upload Windows zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: tungsten-windows.zip
          path: build/*.zip

      - name: Upload Windows msi artifact
        uses: actions/upload-artifact@v4
        with:
          name: tungsten-windows.msi
          path: build/*.msi