name: Windows build

on:
  push:
    branches: [ "master" ] 

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        build_type: [ Release ]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

      - name: Install vcpkg
        shell: powershell
        run: |
          git clone https://github.com/microsoft/vcpkg
          ./vcpkg/bootstrap-vcpkg.bat

      - name: Add vcpkg to PATH
        run: echo "${{ github.workspace }}\vcpkg" | Out-File -Append -FilePath $env:GITHUB_PATH

      - name: Install LLVM and dependencies with vcpkg
        run: |
          vcpkg install llvm[core,target-x86,enable-rtti]:x64-windows-static
          vcpkg install curl:x64-windows-static
          vcpkg install libarchive:x64-windows-static
          vcpkg install zstd:x64-windows-static

      - name: Install Ninja
        run: choco install ninja

      - name: Configure CMake
        run: |
          cmake -B build -S . `
            -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}\vcpkg\scripts\buildsystems\vcpkg.cmake" `
            -DVCPKG_TARGET_TRIPLET=x64-windows-static `
            -DCMAKE_BUILD_TYPE=Release `
            -DLLVM_DIR="${{ github.workspace }}\llvm\lib\cmake\llvm" `
            -Dzstd_DIR="${{ github.workspace }}\vcpkg\installed\x64-windows-static\share\zstd" `
            -DCMAKE_CXX_STANDARD=20 `
            -DCMAKE_CXX_COMPILER="${{ github.workspace }}\llvm\bin\clang++.exe" `
            -DCMAKE_C_COMPILER="${{ github.workspace }}\llvm\bin\clang.exe" `
            -GNinja

      - name: Build
        run: cmake --build build --config Release

      - name: Test
        working-directory: ${{ steps.strings.outputs.build-output-dir }}
        run: ctest --build-config ${{ matrix.build_type }}

      - name: Package with CPack
        working-directory: build
        run: cpack

      - name: Get version from latest tag
        id: get_version
        shell: bash
        run: |
          git fetch --tags
          TAG=$(git describe --tags --abbrev=0 || echo "v0.0.0")
          echo "version=${TAG#v}" >> $GITHUB_OUTPUT

      - name: Upload Windows 7z artifact
        uses: actions/upload-artifact@v4
        with:
          name: tungsten.7z
          path: build/*.7z

      - name: Upload Windows zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: tungsten.zip
          path: build/*.zip

      - name: Upload Windows msi artifact
        uses: actions/upload-artifact@v4
        with:
          name: tungsten.msi
          path: build/*.msi